<p>
Over the past few years, behavior quantification and modeling has
experienced an explosion of innovation and discovery largely enabled by
application of new machine learning methods. These methods have enabled
the quantification of behavior at high temporal and spatial resolution,
and in concordance with simultaneous measurement and manipulation of
neural and genetic function. However, access to this revolutionary
technology is limited primarily due to a lack of adequate resources and
training. Democratization of this technology through training of the
next generation of scientists is necessary to elevate the field of
quantitative behavior.

The Short Course on the Application of Machine Learning for Automated
Quantification of Behavior will disseminate the theoretical and
technical knowledge of this field, and train researchers to apply
machine learning methods to behavior quantitation and modeling. Our goal
is to build an educational program that fosters productive and
interactive dialogue, teaches proper methodology, and provides support
structure to nurture and lower the barrier of entry into this nascent
field. The course will:

<ul>
	<li>teach the theoretical basis of machine learning and its applications to
	quantitative animal behavior analyses</li>
	<li>offer hands-on training in experimental workflow, analysis tools and
	algorithms</li>
	<li>showcase key biological applications</li>
	<li>foster organic collaborations across disparate fields</li>
</ul>
</p>

Read more about <a href="files/V6_Computational_Techniques_and_Resources_for_Effective_Translational_Research_in_Alzheimer’s_Disease_Schedule.pdf">featured speakers and organizers here</a>.
