<p>
This hands-on workshop is designed to accelerate preclinical Alzheimer’s Disease (AD) research by equipping participants with computational techniques and tools to better utilize multi-scale data from model systems and humans. Participants will receive in-depth training and guidance from expert faculty in bioinformatics, genetics, omics technologies and AD research. Participants will gain essential knowledge and computational skills to apply multi-scale data from model systems and humans to translational Alzheimer’s Disease (AD) research.
</p>
<p>
This NIA-funded intensive four-day workshop will employ the AD Knowledge Portal and other AD-relevant databases to provide hands-on training of the computational techniques and application of omics data resources to integrate and analyze multi-scale data from model systems and humans. Participants will gain knowledge and technical skills to conduct rigorous and reproducible computational research for more effective preclinical strategies in AD. The workshop will bring together trainees, early-stage investigators, and expert faculty in bioinformatics, omics technologies, mouse genetics, and preclinical and clinical studies at the intersection of translational research in aging and AD.
</p>
<p>
<i>This workshop is designed for individuals with prior programming experience. The hands-on coding sessions will build on existing skills. While novice programmers are welcome to attend, the workshop will not cover basic programming concepts.
  </i>
</p>
Workshop Highlights
<ul>
<li>Bioinformatics training facilitated by experts from the MODEL-AD consortium and Sage Bionetworks, including how to use the AD Knowledge Portal and other AD-relevant databases effectively.
  </li>
<li>Interactive evening forums designed for networking, collaboration and open discussion in an inclusive environment, where you can receive feedback on your research projects.
  </li>
<li>Discussions focused on current and emerging models of AD, the use of artificial intelligence (AI) in AD research, AD drug development and clinical trials, and the ethical and rigorous application of omics-driven research and data re-use in AD.
  </li>
</ul>
<p>
Read more about <a href="files/V6_Computational_Techniques_and_Resources_for_Effective_Translational_Research_in_Alzheimer’s_Disease_Schedule.pdf">featured speakers and organizers here</a>.
Funded by the National Institute On Aging of the National Institutes of Health under Award Number R13AG089980.
</p>
