<div class="row">
  <div class="col-md-6">
  <h3>Monday, Oct 9</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>What is Behavior? <i>Gordon Berman, Ph.D., Emory University</i></td> </tr>
      <tr> <td>09:00</td>  <td>Keynote: TBD <i>Kristin Branson, Ph.D., Janelia Research Campus</i></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>10:15</td>  <td>Machine Learning Tools for Analyzing Pose, Identity and Behavior <i>Alexander Mathis, Ph.D., Ecole Polytechnique Federale de Lausanne</i></td> </tr>
      <tr> <td>11:15</td>  <td><a href="https://vimeo.com/user44171137/review/872940587/1e1678f10f">Quantifying Behavior Using Deep Learning: From Foundations to the Future <i>Talmo Pereira, Ph.D., The Salk Institute for Biological Studies</i></a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Special activities</td> </tr>
      <tr> <td>3:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/">Workshop: Introductory Python <i>Susan McClatchy, The Jackson Laboratory</i></a></td> </tr>
      <tr> <td>3:00</td>  <td>Workshop: Software Engineering for Researchers Bootcamp <i>David Rumph, California Institute of Technology</i></td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Evening discussion: Opportunities and priorities of the NIH BRAIN BBQS <i>Lizzy Ankudowich, Ph.D. and Holly Moore, Ph.D., National Insitutes of Health</i></td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
  <h3>Tuesday, Oct 10</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td><a href="https://vimeo.com/user44171137/review/873559491/e3c7129c1d">3D Pose Estimation and its Application to Study Proprioception in Drosophila <i>John Tuthill, Ph.D., University of Washington</i></a></td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://vimeo.com/user44171137/review/873556177/f7c6410831">Measuring Behavior Across Scales <i>Gordon Berman, Ph.D., Emory University</i></a></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://vimeo.com/user44171137/review/873558537/dab9f7e1d2">Plenty of Room at the Top: Towards a Physics of Animal Behavior <i>Greg Stephens, Ph.D., Vrije Universiteit Amsterdam</i></a></td> </tr>
      <tr> <td>11:15</td>  <td><a href="https://vimeo.com/user44171137/review/873557552/051ced7636">What Can the Body Tell Us About the Brain <i>Shreya Saxena, Ph.D., Yale University</i></a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Special activities</td> </tr>
      <tr> <td>3:00</td>  <td>Workshop: SLEAP <i>Talmo Pereira, Ph.D., The Salk Institute for Biological Studies</i></td> </tr>
      <tr> <td>4:30</td>  <td>Workshop: DLC <i>Alexander Mathis, Ph.D., Ecole Polytechnique Federale de Lausanne</i></td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Evening discussion: Enhancing cross-cultural / cross-political dialogue <i>Eva Vega-Olds, Comadre Speakers Collaborative</i></td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  <h3>Wednesday, Oct 11</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td><a href="https://vimeo.com/user44171137/review/873762373/5ceee88830">Simulated Connectomes as Digital Sandbox to Understand Behavior <i>Benjamin De Bivort, Ph.D., Harvard University</i></a></td> </tr>
      <tr> <td>09:00</td>  <td>Machine Learning as a Lens for Action Selection <i>Jeff Markowitz, Ph.D., Georgia Tech and Emory University</i></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://vimeo.com/user44171137/review/873753503/f0010b20fc">Supervised Analysis of Behavior <i>Vivek Kumar, Ph.D., The Jackson Laboratory</i></a></td> </tr>
      <tr> <td>11:15</td>  <td><a href="https://vimeo.com/user44171137/review/873747799/27b7dcc6e4">Revolutionizing Translational Psychiatry through Rodent Neuroethology <i>Yair Shemesh, Ph.D., Weizmann Institute of Science</i></a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Special activities</td> </tr>
      <tr> <td>3:00</td>  <td>Workshop: Keypoint MoSeq</td> </tr>
      <tr> <td>4:30</td>  <td>Workshop: Motion Mapper</td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Evening discussion</td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
  <h3>Thursday, Oct 12</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Establishing a Quantitative Framework for Mouse Locomotor Coordination <i>Megan Carey, Ph.D., Champalimaud Centre for the Unknown</i></td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://vimeo.com/user44171137/review/874091686/3e14fe1f33">Quantifying Behavior in Dyadic Social Interactions <i>Ann Kennedy, Ph.D., Northwestern University</i></a></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>10:15</td>  <td>New Ideas in Quantifying Social Behavior <i>Joshua Shaevitz, Ph.D, Princeton University</i></td> </tr>
      <tr> <td>11:15</td>  <td><a href="https://vimeo.com/user44171137/review/874131748/342117397b">AI for Scientists: Perception and Discovery <i>Jennifer Sun, Ph.D., California Institute of Technology</i></a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Special activities</td> </tr>
      <tr> <td>3:30</td>  <td>Workshop: Supervised Behavior </td> </tr>
      <tr> <td>5:00</td>  <td>Workshop: Advanced Modeling</td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Evening discussion</td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
