<div class="row">
  <div class="col-md-6">
  <h3>Monday, May 5</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Welcome and Course Overview <i>Asli Uyar, Ph.D., The Jackson Laboratory</i></td> </tr>
      <tr> <td>08:30</td>  <td>NIA Translational Programs Research Program for AD/ADRD <i>Suzana Petanceska, Ph.D., NIH, National Institute on Aging</i></td> </tr>
      <tr> <td>09:15</td>  <td>Clinical and Neuropathological Heterogeneity of Alzheimer’s Disease <i>Nilüfer Ertekin-Taner, M.D., Ph.D., Mayo Clinic</i></td> </tr>
      <tr> <td>10:05</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>10:15</td>  <td>Workshop: Introduction to Synapse and The AD Knowledge Portal <i>Laura Heath, Ph.D., Sage Bionetworks</i></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Transcriptomic Landscape in Alzheimer’s Disease <i>Vilas Menon, Ph.D., Columbia University</i></td> </tr>
      <tr> <td>2:00</td>  <td>Workshop: Computational Workflows for Single Cell and Spatial Transcriptomics <i>Robert Butler III, Ph.D., Stanford University</i></td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Open Forum: Participants' Experience with Biomedical Data Repositories and Knowledgebases <i>Laura Heath, Ph.D., Sage Bionetworks</i></td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
  <h3>Tuesday, May 6</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td><a href="">Mouse Models of AD & MODEL-AD Overview <i>Mike Sasner, Ph.D., The Jackson Laboratory</i></a></td> </tr>
      <tr> <td>09:00</td>  <td><a href="">Workshop: Cross-Species Functional Alignment <i>Greg Cary, Ph.D., The Jackson Laboratory</i></a></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>12:15</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Drug Repurposing to Target the Aging Process and Biology Underlying ADRD <i>Chia-Ling Kuo, Ph.D., University of Connecticut</td> </tr>
      <tr> <td>2:00</td>  <td>Integrated Multi-omics Analysis <i>Ravi Pandey, Ph.D., The Jackson Laboratory</i></td> </tr>
      <tr> <td>4:00</td>  <td>Group Outdoor Activity</i></td> </tr>
      <tr> <td>6:30</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Open Forum: Open and Inclusive Research in AD and Aging <i>Susan McClatchy, M.S., The Jackson Laboratory</i></td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
<div class="row">
  <div class="col-md-6">
  <h3>Wednesday, May 7</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td><a href="">Computational Science in AD: Promises and Challenges <i>Greg Carter, Ph.D., The Jackson Laboratory</i></a></td> </tr>
      <tr> <td>09:00</td>  <td>Workshop: Reproducibility Case Study <i>Susan McClatchy, M.S., The Jackson Laboratory</i></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Predictive Modeling in AD and Aging <i>Asli Uyar, Ph.D., The Jackson Laboratory</i></td> </tr>
      <tr> <td>2:00</td>  <td>Workshop: Introduction to Deep Learning Applications in Multi-Omics Data Analysis for AD <i>Rohit Tripathy, Ph.D., The Jackson Laboratory</i></td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Open Forum: Artificial Intelligence Approaches to Prevent, Detect, and Manage Dementia <i>Vilas Menon, Ph.D., Columbia University</i></td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
  <h3>Thursday, May 8</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Molecular Subtypes of AD <i>Ryan Neff, M.D., Ph.D, The Mount Sinai Hospital</i></td> </tr>
      <tr> <td>09:00</td>  <td><a href="">Workshop: Choosing the Right Animal Model</a></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee/tea</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>Bring Your Own Research Question <i>All Faculty</i></td> </tr>
      <tr> <td>4:00</td>  <td>Course Summary <i>Asli Uyar, Ph.D., The Jackson Laboratory</i></td> </tr>
      <tr> <td>6:00</td>  <td>Dinner</td> </tr>
      <tr> <td>7:00</td>  <td>Open Forum: AD Drug Development and Clinical Trials <i>Greg Cary, Ph.D., The Jackson Laboratory</i></td> </tr>
      <tr> <td>8:30</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
